<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2" name="Test suite" parallel="classes">
<!--    <groups>-->
<!--        <run>-->
<!--            <include name="Smoke tests"/>-->
<!--            <include name="init"/>-->
<!--        </run>-->
<!--    </groups>-->
    <test name="test 1">
        <classes>
            <class name="tests.CartTest"/>
            <class name="tests.LoginTest"/>
            <class name="tests.FilterInCategoryTest"/>
            <class name="tests.CustomerAccountTest"/>
            <class name="tests.SearchTest"/>
            <class name="tests.CheckoutTest"/>
        </classes>
    </test>
</suite>



